{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}}
 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}
                     com.bhauman/rebel-readline {:mvn/version "0.1.4"}}}
  :uberjar {:extra-deps {leiningen {:mvn/version "2.9.1"}}}}}
